/* reglas
selectores
declaraciones
propiedades
valores */

header {
  background: pink;
}

/* seletor de etiqueta  header - section - article - nav */
/* selector descendente  */
/* body header div nav ol li a  */

/* selector de clase . */

/* .link */