/* reglas
selectores
declaraciones
propiedades
valores */


/* seletor de etiqueta  header - section - article - nav */
/* header {
  background: pink;
  color: red
} */

/* selector descendente  */
/* body header div nav ol li a  */

/* selector de clase . */

/* .link */

/* selector de id # */
/* #portafolio */


body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
}