/* reglas
selectores
declaraciones
propiedades
valores */


/* seletor de etiqueta  header - section - article - nav */
/* header {
  background: pink;
  color: red
} */

/* selector descendente  */
/* body header div nav ol li a  */

/* selector de clase . */

/* .link */

/* selector de id # */
/* #portafolio */



/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 100px 150px 70px 30px;
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
}
h1 strong {
  color: #026fff;
}

.hero {
  height: 300px;
  background-image: url('../images/hero.jpg');
  background-color: #1b2127;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.portfolio {
  background: #fafafa;
  /* background: red; */
}

.project {
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* color: blue; */
  /* border-top-color: red;
  border-top-width: 15px;
  border-top-style: solid; */
  border: 1px solid gray;
  border-radius: 10px;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  margin: 10px;
  margin-bottom: 15px;
  /* margin-right
  margin-left 
  margin-top */
  padding: 20px;
  background: white;
}

.project-details {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}

.header {
  background-color: #1b2127;
  color: white;
}

.header a {
  color: white;
  text-decoration: none;
}